body, td,th,div,span,label,a,span,input,textarea,p,option{
    font-family: verdana  !important;
    font-size: 12px;
}

.framepopup{

    margin: 5px 10px 10px 10px;
}

.required-star  {
    margin:0px;padding: 0px;vertical-align: top
}

.listcheckbox{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
.listcheckbox li{
    width: 200px;
    height:30px;		
  
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:top;
    overflow:auto;
}

.form-title{
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    background: #edf1f6;
    
}
.form-tbl {
    padding:5px;
}
.form-tbl form table tr td{
    
    vertical-align: top;
}
.tablegrid_stylefull{
    position: absolute;top:0px;bottom: 10px;right: 0px;left: 0px;
    
}

.ajax-hide {
    position:absolute;
    top:0;
    left:0;
    width: 0px;
    height: 0px;
    z-index: -1;
} 
.ajax-show {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background-color:white;
    opacity: .4;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
    
}

.cursorPointer{
 cursor: pointer;   
}

.imgbt {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  margin: 0px 2px;
  padding: 4px !important;
  color: #666;
  font-size: 12px !important;
  border: 1px solid transparent;

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffffffff', GradientType=0);
  outline: none;
  
  line-height: 100% !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.imgbt:hover {
  text-decoration: none;
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -ms-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -o-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: linear-gradient(#f7f7f7 0%, #dddddd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#fff7f7f7', GradientType=0);
  color: #333;
}
.imgbt:active,
.imgbt.clicked {
  border: 1px solid #999;
  background-image: -webkit-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -o-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: linear-gradient(#cccccc 0%, #cccccc 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffcccccc', GradientType=0);
  text-shadow: 1px 1px 1px #eee;
}
.imgbt:disabled {
  border: 1px solid #bbb !important;
  background: #f7f7f7 !important;
  color: #bdbcbc !important;
  text-shadow: none !important;
}
.loginDialog {
    z-index: 1600;
    z-index: 1600 !important ;
}

.loginDialog .ui-dialog-titlebar-close
{
    display:none;
}



.k-tooltip{
   background: #F5F6F7 !important; 
   
}
